<div class="header">
	<div class="row header__container">
		<div class="col xs-2 header__left">
			{% include 'components/logo.twig' %}
		</div>
		<div class="col xs-10 xs-end xs-middle header__right">
			<div class="header__phone">
				{% include 'components/phone.twig' %}
			</div>
			<div class="header__btn xs-off md">
				<button class="btn btn_small btn_solid header__btn-inner" onclick="yaCounter48293603.reachGoal('call'); return true;" data-modal='{"name": "formPhone", "id": "form"}'>
					{{btn.phone}}
				</button>
			</div>
		</div>
	</div>
</div>
